# Environment files
.env
.env.*
**/.env*

# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js
client/package-lock.json
client/node_modules
server/node_modules

# Build outputs
/build
/dist
**/build
**/dist

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store

# Cache and build files
.vercel
**/.cache/
*.pack

# Database files
*.sql
*.sql.gz
server/database/backups/

# Test coverage
/coverage
